### Import Necessary Libraires

Libraries are used for performing necessary activities to clean the dataset properly for analysis

In [23]:
import pandas as pd
import os

### Read the dataset

In [24]:
df = pd.read_csv('D:\\Academics\\7th Semester\\SWE 4701 Software Metrices\\Assignment\\Software-Metric-Analysis\\Data\\jm1.csv')

### Show first 10 rows of the dataset

In [25]:
df.head(10)

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,defects
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2,2,2,2,1.2,1.2,1.2,1.2,1.4,False
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1,1,1,1,1,1,1,1,1,True
2,72.0,7.0,1.0,6.0,198.0,1134.13,0.05,20.31,55.85,23029.10,...,51,10,8,1,17,36,112,86,13,True
3,190.0,3.0,1.0,3.0,600.0,4348.76,0.06,17.06,254.87,74202.67,...,129,29,28,2,17,135,329,271,5,True
4,37.0,4.0,1.0,4.0,126.0,599.12,0.06,17.19,34.86,10297.30,...,28,1,6,0,11,16,76,50,7,True
5,31.0,2.0,1.0,2.0,111.0,582.52,0.08,12.25,47.55,7135.87,...,19,0,5,0,14,24,69,42,3,True
6,78.0,9.0,5.0,4.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,17,True
7,8.0,1.0,1.0,1.0,16.0,50.72,0.36,2.80,18.11,142.01,...,5,0,1,0,4,5,9,7,1,True
8,24.0,2.0,1.0,2.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,3,True
9,143.0,22.0,20.0,10.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,43,True

### Check for datatypes and null-values

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10885 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loc                10885 non-null  float64
 1   v(g)               10885 non-null  float64
 2   ev(g)              10885 non-null  float64
 3   iv(g)              10885 non-null  float64
 4   n                  10885 non-null  float64
 5   v                  10885 non-null  float64
 6   l                  10885 non-null  float64
 7   d                  10885 non-null  float64
 8   i                  10885 non-null  float64
 9   e                  10885 non-null  float64
 10  b                  10885 non-null  float64
 11  t                  10885 non-null  float64
 12  lOCode             10885 non-null  int64
 13  lOComment          10885 non-null  int64
 14  lOBlank            10885 non-null  int64
 15  locCodeAndComment  10885 non-null  int64
 16  uniq_Op            10885 non-null  object
 17  uniq_Opnd          10885 non-null  object
 18  total_Op           10885 non-null  object
 19  total_Opnd         10885 non-null  object
 20  branchCount        10885 non-null  object
 21  defects            10885 non-null  bool
dtypes: bool(1), float64(12), int64(4), object(5)
memory usage: 1.8+ MB

The information above indicates that the dataset does not contain any null values, which is quite beneficial.

However, there's a problem. We can't understand the features or columns of the dataset just by looking at it. Therefore, we need to rename the columns in a way that provides more information about the features they represent.

### Changing the names of the columns

Attribute Information:
	
1. loc             : numeric % McCabe's line count of code

2. v(g)            : numeric % McCabe "cyclomatic complexity"

3. ev(g)           : numeric % McCabe "essential complexity"

4. iv(g)           : numeric % McCabe "design complexity"

5. n               : numeric % Halstead total operators + operands

6. v               : numeric % Halstead "volume"

7. l               : numeric % Halstead "program length"

8. d               : numeric % Halstead "difficulty"

9. i               : numeric % Halstead "intelligence"

10. e               : numeric % Halstead "effort"

11. b               : numeric % Halstead "bugs"

12. t               : numeric % Halstead's time estimator

13. lOCode          : numeric % Halstead's line count

14. lOComment       : numeric % Halstead's count of lines of comments

15. lOBlank         : numeric % Halstead's count of blank lines

16. lOCodeAndComment: numeric % Halstead's count of lines of code and comments

17. uniq_Op         : numeric % unique operators

18. uniq_Opnd       : numeric % unique operands

19. total_Op        : numeric % total operators

20. total_Opnd      : numeric % total operands

21: branchCount     : numeric % of the flow graph

22. defects         : {false,true} % module has/has not one or more reported defects

In [27]:
df = df.rename(columns={
    'loc':'McCabe "line count of code"',
    'v(g)':'McCabe "cyclomatic complexity"',
    'ev(g)':'McCabe "essential Complexity"',
    'iv(g)':'McCabe "design complexity"',
    'n':'Halstead "total operators + operands"',
    'v':'Halstead "volume"',
    'l':'Halstead "program length"',
    'd':'Halstead "difficulty"',
    'i':'Halstead "intelligence"',
    'e':'Halstead "effort"',
    'b':'Halstead "bugs"',
    't':'Halstead "time estimator"',
    'lOCode':'Halstead "line Count"',
    'lOComment':'Halstead "count of lines of comments"',
    'lOBlank':'Halstead "count of blank lines"',
    'lOCodeAndComment': 'Halstead "count of lines of code and comments"',
    'uniq_Op':'Unique operators',
    'uniq_Opnd':'Unique operands',
    'total_Op':'Total operators',
    'total_Opnd':'Total operands',
    'branchCount':'Count of all branches',
    'defects':'Defects'
})

New names have been assigned to the columns

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10885 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   McCabe "line count of code"            10885 non-null  float64
 1   McCabe "cyclomatic complexity"         10885 non-null  float64
 2   McCabe "essential Complexity"          10885 non-null  float64
 3   McCabe "design complexity"             10885 non-null  float64
 4   Halstead "total operators + operands"  10885 non-null  float64
 5   Halstead "volume"                      10885 non-null  float64
 6   Halstead "program length"              10885 non-null  float64
 7   Halstead "difficulty"                  10885 non-null  float64
 8   Halstead "intelligence"                10885 non-null  float64
 9   Halstead "effort"                      10885 non-null  float64
 10  Halstead "bugs"                        10885 non-null  float64
 11  Halstead "time estimator"              10885 non-null  float64
 12  Halstead "line Count"                  10885 non-null  int64
 13  Halstead "count of lines of comments"  10885 non-null  int64
 14  Halstead "count of blank lines"        10885 non-null  int64
 15  locCodeAndComment                      10885 non-null  int64
 16  Unique operators                       10885 non-null  object
 17  Unique operands                        10885 non-null  object
 18  Total operators                        10885 non-null  object
 19  Total operands                         10885 non-null  object
 20  Count of all branches                  10885 non-null  object
 21  Defects                                10885 non-null  bool
dtypes: bool(1), float64(12), int64(4), object(5)
memory usage: 1.8+ MB

In the dataset above, some columns that contain numerical values are incorrectly classified as 'objects'. Therefore, we need to convert these data types to numeric values.

### Data Conversion

In [29]:
for columns in df.columns:
    if df[columns].dtype == 'object':
        df[columns] = pd.to_numeric(df[columns], errors='coerce')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10885 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   McCabe "line count of code"            10885 non-null  float64
 1   McCabe "cyclomatic complexity"         10885 non-null  float64
 2   McCabe "essential Complexity"          10885 non-null  float64
 3   McCabe "design complexity"             10885 non-null  float64
 4   Halstead "total operators + operands"  10885 non-null  float64
 5   Halstead "volume"                      10885 non-null  float64
 6   Halstead "program length"              10885 non-null  float64
 7   Halstead "difficulty"                  10885 non-null  float64
 8   Halstead "intelligence"                10885 non-null  float64
 9   Halstead "effort"                      10885 non-null  float64
 10  Halstead "bugs"                        10885 non-null  float64
 11  Halstead "time estimator"              10885 non-null  float64
 12  Halstead "line Count"                  10885 non-null  int64
 13  Halstead "count of lines of comments"  10885 non-null  int64
 14  Halstead "count of blank lines"        10885 non-null  int64
 15  locCodeAndComment                      10885 non-null  int64
 16  Unique operators                       10880 non-null  float64
 17  Unique operands                        10880 non-null  float64
 18  Total operators                        10880 non-null  float64
 19  Total operands                         10880 non-null  float64
 20  Count of all branches                  10880 non-null  float64
 21  Defects                                10885 non-null  bool
dtypes: bool(1), float64(17), int64(4)
memory usage: 1.8 MB

We observe that some columns contain NaN values. Therefore, we need to identify where these NaN values are located.

In [31]:
nan_rows = df[df.isna().any(axis=1)]
nan_rows

,"McCabe ""line count of code""","McCabe ""cyclomatic complexity""","McCabe ""essential Complexity""","McCabe ""design complexity""","Halstead ""total operators + operands""","Halstead ""volume""","Halstead ""program length""","Halstead ""difficulty""","Halstead ""intelligence""","Halstead ""effort""",...,"Halstead ""line Count""","Halstead ""count of lines of comments""","Halstead ""count of blank lines""",locCodeAndComment,Unique operators,Unique operands,Total operators,Total operands,Count of all branches,Defects
143,49.0,4.0,3.0,3.0,185.0,1097.19,0.05,18.84,58.25,20667.93,...,38,0,9,0,NaN,NaN,NaN,NaN,NaN,True
358,27.0,5.0,3.0,3.0,79.0,417.55,0.07,13.52,30.88,5646.37,...,19,0,6,0,NaN,NaN,NaN,NaN,NaN,True
1598,76.0,18.0,11.0,11.0,275.0,1650.00,0.03,34.50,47.83,56925.00,...,62,0,12,0,NaN,NaN,NaN,NaN,NaN,True
4214,6.0,1.0,1.0,1.0,15.0,51.89,0.34,2.92,17.79,151.35,...,3,0,1,0,NaN,NaN,NaN,NaN,NaN,False
8279,9.0,13.0,10.0,4.0,0.0,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,False

Given the situation, we have decided to remove the rows containing NaN values.

### Data Cleaning

In [32]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10880 entries, 0 to 10884
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   McCabe "line count of code"            10880 non-null  float64
 1   McCabe "cyclomatic complexity"         10880 non-null  float64
 2   McCabe "essential Complexity"          10880 non-null  float64
 3   McCabe "design complexity"             10880 non-null  float64
 4   Halstead "total operators + operands"  10880 non-null  float64
 5   Halstead "volume"                      10880 non-null  float64
 6   Halstead "program length"              10880 non-null  float64
 7   Halstead "difficulty"                  10880 non-null  float64
 8   Halstead "intelligence"                10880 non-null  float64
 9   Halstead "effort"                      10880 non-null  float64
 10  Halstead "bugs"                        10880 non-null  float64
 11  Halstead "time estimator"              10880 non-null  float64
 12  Halstead "line Count"                  10880 non-null  int64
 13  Halstead "count of lines of comments"  10880 non-null  int64
 14  Halstead "count of blank lines"        10880 non-null  int64
 15  locCodeAndComment                      10880 non-null  int64
 16  Unique operators                       10880 non-null  float64
 17  Unique operands                        10880 non-null  float64
 18  Total operators                        10880 non-null  float64
 19  Total operands                         10880 non-null  float64
 20  Count of all branches                  10880 non-null  float64
 21  Defects                                10880 non-null  bool
dtypes: bool(1), float64(17), int64(4)
memory usage: 1.8 MB

### Generate the clean dataset

Directory path was assgined

In [33]:
dir_name = 'D:\\Academics\\7th Semester\\SWE 4701 Software Metrices\\Assignment\\Software-Metric-Analysis\\Data\\'

Create the directory if it doesn't exist

In [34]:
if not os.path.exists(dir_name):
    os.mkdir(dir_name)

Specify the full path

In [35]:
full_path = os.path.join(dir_name, 'jm1_cleaned.csv')

Generate the CSV file

In [36]:
df.to_csv(full_path, index=False)